* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #fff;
}

/* About Section */
.about-section {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 50px;
}

.about-content img {
    width: 400px;
    border-radius: 10px;
}

.skills {
    max-width: 600px;
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    font-weight: bold;
}

.bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.fill {
    height: 10px;
    background-color: teal;
    border-radius: 5px;
}

/* Services Section */
.services-section {
    background: #f9f9f9;
    padding: 50px 20px;
}

.services-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 60%;
}

.service h4 {
    color: teal;
}

.service p {
    font-size: 14px;
}

.profile-image img {
    width: 250px;
    border-radius: 50%;
}

/* Counters Section */
.counters-section {
    padding: 50px 20px;
    text-align: center;
}

.counters {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.counter h2 {
    color: teal;
    font-size: 2.5rem;
}

.counter p {
    font-size: 1rem;
}

/* Portfolio Section */
.portfolio-section {
    padding: 50px 20px;
    text-align: center;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.portfolio-gallery img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
.footer {
    background-color: #2d8a64;
    padding: 30px;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-logos img {
    width: 80px;
}

.footer-logos img{
    background-color: #ebf1ef02;
}